<html>
<head>
<div ng-app="myApp" ng-controller="myCtrl">
  <title>Express HTML</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">Express HTML</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/sitemap">Sitemap</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="jumbotron"  style="padding:40px;">
      <h1>Hello world!</h1>
      <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <p><a class="btn btn-primary btn-lg" ng-click="data2()" href="#" role="button">Run graph</a></p>
	  <p><a class="btn btn-primary btn-lg" ng-click="deletedata()" href="#" role="button">Delete database</a></p>
	 <div id="myDiv"></div>
    </div>
  </div>
</body>
</html>	
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope,$http) {
$scope.function2=function()
{
$http.get('/databot').then(function(res){	
$scope.data="Not known"		
console.log(res.data.length)
if(res.data.length==8)
{
$scope.data="Online"
}
else
{
$scope.data="Offline"
}
});
}
	//getting all data from mongodb users
$scope.data2 = function(){
$http.get('/datafrommongo').then(function(res){
					
				var price=[]
				var datafordata=[]
				var volume=[]
				var i
				for(i=0;i<res.data.length;i++)
				{
					price.push(res.data[i]["price"])
					datafordata.push(res.data[i]["time"])
					volume.push(res.data[i]["volume"])
					
				}
				making_graphsub(datafordata,price,volume,'Price','Volume','myDiv')
				});
				
$http.get('/datafrommongobuysandsells').then(function(res){
					
				var price=[]
				var datafordata=[]
				var volume=[]
				console.log(res.data);
				var i

	


});	

}
	
function making_graphsub(x1,y1,y2,name1,name2,id)
			{
				var mytitle='Money and Volume'
				var trace1 = {
					x: x1,
					y: y1,
					mode: 'lines',
					name: name1
					};

				var trace2 = {
					x: x1,
					y: y2,
					mode: 'lines',
					name: name2
					};
				
				var layout = {
				title:mytitle
					};
				var data = [trace1, trace2];
				Plotly.newPlot(id,data,layout);
			}

$scope.deletedata = function(){
$http.get('/deletedata').then(function(res){	
console.log("deleted database")

});

}		
	
});
</script>